* {
    margin: 0 auto;
    padding: 0;
  }
  
  body {
    min-width: 1080px;
  }
  
  a {
    color: #111;
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  img {
    display: block;
  }